<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"></link>
    <script src="app.js" type="module"></script>
</head>

<body>
    
    <div id="app">
        <input type="text" v-model="opcion">
        <div v-if="opcion==`Acotar`" v-html="mensaje1"></div>
        <div v_else_if="opcion==`Trono de cristal`" v-html="mensaje2"></div>
        <div v-else-if="opcion==`Crescent city`" v-html="mensaje3"></div>
        <div v-else v-html="mensaje4" class="error"></div>
    </div>

</body>
</html>